<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
  <title>Sky Scope</title>
</head>
<body>
  <div class="container">
    <div class="bg-animation">
      <div id="stars"></div>
      <div id="stars-2"></div>
      <div id="stars-3"></div>
    </div>
    <nav>
      <h1>Sky Scope</h1>
      <h3 class="changing-heading">Find <span class="switch-body Stars">Stars</span></h3>
    </nav>
    <section id="searching-box">
      <input id="search-input" type="text" placeholder="Search over 10+ celestial bodies" aria-label="Search">
    </section>
    <section class="cards-container">
      <div class="cards">
        
      </div>
    </section>
  </div>
  <script>
    const staticBaseURL = "{{ url_for('static', filename='') }}";
  </script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
